**/node_modules/
/vendor/
/node_modules/
/temp/
/novcs/
/build/

/web.root/wp-admin/
/web.root/wp-includes/
/web.root/wp-*
/web.root/tq-peanut/application/assets/js/libraries/
/images/
/maildrop/
/web.root/tq-peanut/application/config/mailgun.ini
/html/prototype/
/config/

*.js
*.js.map

!/web.root/tq-peanut/pnut/core/peanut-core.min.js
!/web.root/tq-peanut/pnut/core/peanut-loader.min.js

/web.root/wp-content/**

!/web.root/wp-content/

!/web.root/wp-content/plugins/
!/web.root/wp-content/plugins/peanut/
!/web.root/wp-content/plugins/peanut/**

!/web.root/wp-content/themes/
!/web.root/wp-content/themes/bootscore-child/
!/web.root/wp-content/themes/bootscore-child/**

/web.root/tq-peanut/application/docs/
/doc/private/
/notes/private/
